NEXT_PUBLIC_SUPABASE_URL=https://fqanjgunndcownilwpyn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxYW5qZ3VubmRjb3duaWx3cHluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxNTcwMDQsImV4cCI6MjEwMjczMzAwNH0.EP0Lrx4rzvHZXMJ8NS5QH2GtmUVfCpDo8xA4bUPoLOM
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
